.container {
  width: 100vw;
  height: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  transition: 0.5s;
}

.container.dark {
  background-color: #0d0e10;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.email-box {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.image-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  transition: 0.5s;
}

.image-box.dark {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.image-box > img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}

.image-box > img.dark {
  filter: invert(1);
}

.email {
  font-size: 0.75em;
  letter-spacing: 1px;
  transition: 0.5s;
}

.email.dark {
  color: #e8eaef;
}
